{% extends 'base_layout.html' %}

{% block body_content %}
    {% include 'includes/navbar.html' %}
    
    <div class="flex-grow">
        {% if messages %}
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-4">
            {% for message in messages %}
            <div class="p-4 mb-4 rounded-md {% if message.tags == 'error' %}bg-red-100 text-red-700{% else %}bg-green-100 text-green-700{% endif %}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% block content %}{% endblock %}
    </div>

    {% include 'includes/footer.html' %}
{% endblock %}